body {
    margin: 0;
}

.container {
    display: flex;
}

.bg-img-container {
    width: 100vw;
    height: 100vh;
    background: url("/bg-img.jpeg");
    background-repeat: no-repeat;
}

.form-container {
    flex-direction: column;
    align-content: center;
    margin-right: 32vw;
    margin-left: 16px;
}

h2 {
    text-align: left;
}

#form-elements > label {
    display: block;
    float: left;
    width: 30%;
}

.form-row {
    display: flex;
    flex-direction: row;
    column-gap: 84px;
    row-gap: 18px;
    margin-bottom: 18px;
}

.form-row > div {
    float: left;
    width: 30%;
}

.form-row > div > input {
    padding-left: 5rem;
}
